version: "3.5"
services:
  consul:
    image: consul
    ports:
      - 8400:8400
      - 8500:8500
      - 8600:8600
  hazelcast:
    image: hazelcast/hazelcast
    ports:
      - 5701:5701
  postgres:
    build:
      context: ./core/src/main/resources/db/schema
    container_name: iv-db
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=brainweb
      - POSTGRES_PASSWORD=brainweb
  instance-1:
    build:
      context: .
    container_name: iv-core-01
    ports:
      - 8080:8080
    environment:
      - DB_HOSTNAME=postgres
  instance-2:
    build:
      context: .
    container_name: iv-core-02
    ports:
      - 8081:8080
    environment:
      - DB_HOSTNAME=postgres