server:
  compression:
    enabled: true
    mime-types: application/json
  http2:
    enabled: true

spring:
  application:
    name: iv-core
  jackson:
    serialization:
      write-dates-as-timestamps: true
    mapper:
      propagate_transient_marker: true
    property-naming-strategy: SNAKE_CASE
    default-property-inclusion: non_null
  flyway:
    enabled: true
    schemas: interview_service
management:
  endpoints:
    web:
      exposure:
        include: '*'

jdbc:
  url: jdbc:postgresql://localhost:5432/postgres
  username: brainweb
  password: brainweb
  schema: interview_service
